<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Polar Peaks", root_path %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
        <li>
          Signed in as <strong><%= current_user.name %></strong>!
        </li>
        <li>
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
        </li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li>A Customizable Ski Tracker</li>
    </ul>
  </section>
</nav>
